In [1]:
import pandas as pd

# white 합치기

In [238]:
wine_review_0_2000 = pd.read_csv("data/white_review_0_2000.csv", encoding="utf-8",index_col=[0])

In [239]:
wine_review_2000_3000 = pd.read_csv("data/white_review_2000_3000.csv", encoding="utf-8",index_col=[0])

In [240]:
wine_review_3000_fin = pd.read_csv("data/white_review_3000_fin.csv", encoding="utf-8",index_col=[0])

In [241]:
white_review = pd.concat([wine_review_0_2000,wine_review_2000_3000,wine_review_3000_fin])

In [242]:
# id => wine_id
white_review .rename({'id':'wine_id'},axis=1,inplace=True)

In [243]:
white_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5805 entries, 0 to 2806
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   wine_id  5805 non-null   int64
 1   re       5805 non-null   object
dtypes: int64(1), object(1)
memory usage: 136.1+ KB

In [244]:
white_info = pd.read_csv('data/white_wine_info.csv',index_col=[0])

In [245]:
white_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5769 entries, 0 to 5768
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5769 non-null   object
 1   price    5710 non-null   float64
 2   score    5769 non-null   float64
 3   winery   5769 non-null   object
 4   grapes   5743 non-null   object
 5   country  5766 non-null   object
 6   region   5766 non-null   object
 7   alcohol  3463 non-null   float64
 8   foods    5545 non-null   object
 9   wine_id  5769 non-null   int64
dtypes: float64(3), int64(1), object(6)
memory usage: 495.8+ KB

In [246]:
white = pd.merge(white_wine_info,white_wine_review ,on='wine_id')

In [247]:
white.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5766 entries, 0 to 5765
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5766 non-null   object
 1   price    5708 non-null   float64
 2   score    5766 non-null   float64
 3   winery   5766 non-null   object
 4   country  5763 non-null   object
 5   region   5763 non-null   object
 6   alcohol  3462 non-null   float64
 7   foods    5542 non-null   object
 8   wine_id  5766 non-null   int64
 9   re       5766 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 495.5+ KB

In [248]:
white['wine_id'].value_counts()

14713468    1
16206311    1
1131906     1
24509825    1
25610170    1
           ..
198749      1
19706563    1
23446012    1
17984192    1
21366783    1
Name: wine_id, Length: 5766, dtype: int64

# red_tail 합치기

In [250]:
red_tail_review_0_1000 = pd.read_csv("data/red_tail_review_0_1000.csv", encoding="utf-8",index_col=[0])

In [251]:
red_tail_1000_2000 = pd.read_csv("data/red_tail_review_1000_2000.csv", encoding="utf-8",index_col=[0])

In [252]:
red_tail_review_2000_4000 = pd.read_csv("data/red_tail_review_2000_4000.csv", encoding="utf-8",index_col=[0])

In [253]:
red_tail_review_4000_6000 = pd.read_csv("data/red_tail_review_4000_6000.csv", encoding="utf-8",index_col=[0])

In [254]:
red_tail_review_6000_ = pd.read_csv("data/red_tail_review_6000_.csv", encoding="utf-8",index_col=[0])

In [255]:
red_tail_review = pd.concat([red_tail_review_0_1000,red_tail_1000_2000,red_tail_review_2000_4000,red_tail_review_4000_6000,red_tail_review_6000_])

In [256]:
# id => wine_id
red_tail_review.rename({'id':'wine_id'},axis=1,inplace=True)

In [257]:
red_tail_info = pd.read_csv("data/red_wine_info(tail).csv",encoding="utf-8",index_col=[0])

In [258]:
red_tail = pd.merge(red_tail_info,red_tail_review,on='wine_id')

In [259]:
red_tail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8333 entries, 0 to 8332
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     8333 non-null   object
 1   price    8323 non-null   float64
 2   score    8333 non-null   float64
 3   winery   8333 non-null   object
 4   grapes   8324 non-null   object
 5   country  8332 non-null   object
 6   region   8332 non-null   object
 7   alcohol  5135 non-null   float64
 8   foods    8329 non-null   object
 9   wine_id  8333 non-null   int64
 10  re       8333 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 781.2+ KB

In [260]:
#red_tail = pd.merge(red_tail_info,red_tail_review,on='wine_id',how='left')

In [261]:
#red_tail.info()

,name,price,score,winery,grapes,country,region,alcohol,foods,wine_id,re
15,Napa Valley Cabernet Sauvignon 1987,64.97,4.4,Chateau Montelena,Cabernet Sauvignon,United States,Napa Valley,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Matu...",10953643,['Seamless fresh coffee grind with dark black ...
19,San Mateo County Pinot Noir 2013,79.95,4.3,Rhys Vineyards,Pinot Noir,United States,California,NaN,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",24540684,['Great nose and mouthfeel\nTannins softening ...
25,Reserve Pinot Noir 2016,84.99,4.4,Hirsch Vineyards,Pinot Noir,United States,Sonoma Coast,13.0,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",22687888,"['Rubber, raspberry, cherry. Juicy, rich. Grap..."
29,Chante Le Merle Vieilles Vignes Châteauneuf-du...,89.99,4.4,Bosquet des Papes,Grenache,France,Châteauneuf-du-Pape,NaN,"['Lamb', 'Pork', 'Poultry']",23443515,"[""Can't be beat! Excellent mouthfeel, bouquet ..."
34,La Dame de Montrose Saint-Estèphe 1990,52.99,4.7,Château Montrose,Cabernet Sauvignon,France,Saint-Estèphe,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",15271918,"['Forest fruits and leather ', 'Smooth light f..."
...,...,...,...,...,...,...,...,...,...,...,...
8154,Saint-Émilion Grand Cru 2011,99.99,4.5,Gracia,Cabernet Sauvignon,France,Saint-Émilion Grand Cru,14.5,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",22981907,['Improved from a 4⭐️ to a solid 4.5⭐️ since m...
8159,Pinot Noir 2013,74.99,4.4,Aston Estate,Pinot Noir,United States,Sonoma Coast,NaN,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",10758540,['Always the best. More acidic. Strawberry and...
8218,Napa Valley Cabernet Sauvignon 2006,64.97,4.4,Chateau Montelena,Cabernet Sauvignon,United States,Napa Valley,14.5,"['Beef', 'Lamb', 'Game (deer, venison)', 'Matu...",17488228,['Velvet with smooth flavor.\nA true treat.\nP...
8242,Pomerol 2010,89.00,4.3,Château Feytit-Clinet,Merlot,France,Pomerol,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",26504109,"['Medium body, purple flowers, smooth，soft tan..."
8298,Pauillac (Grand Cru Classé) 2005,89.99,4.2,Château Haut-Bages Libéral,Merlot,France,Pauillac,12.5,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",25029004,"['Classic nose here, with already some pencil-..."

In [262]:
red_tail['wine_id'].value_counts()

22594310    1
23849736    1
24840468    1
2541136     1
24273665    1
           ..
26260892    1
21581211    1
25060696    1
26172825    1
7704574     1
Name: wine_id, Length: 8333, dtype: int64

In [264]:
red_tail[red_tail['wine_id']==23443777 ]

,name,price,score,winery,grapes,country,region,alcohol,foods,wine_id,re
4509,Châteauneuf-du-Pape (Cuvée Tradition) 2012,44.99,4.2,Bosquet des Papes,Mourvedre,France,Châteauneuf-du-Pape,15.0,"['Lamb', 'Pork', 'Poultry']",23443777,"['Very elegant and persistent', 'Well balanced..."

# red_mid 합치기

In [295]:
red_mid_info_1 = pd.read_csv("data/red_wine_mid_info_0_2000.csv",encoding="utf-8",index_col=[0])

In [296]:
red_mid_info_2 = pd.read_csv("data/red_wine_mid_info_2000_fin.csv",encoding="utf-8",index_col=[0])

In [297]:
red_mid_info =  pd.concat([red_mid_info_1,red_mid_info_2])

In [298]:
red_mid_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4608 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4608 non-null   object
 1   price    4608 non-null   float64
 2   score    4608 non-null   float64
 3   winery   4608 non-null   object
 4   grapes   4600 non-null   object
 5   country  4608 non-null   object
 6   region   4608 non-null   object
 7   alcohol  2772 non-null   float64
 8   foods    4600 non-null   object
 9   wine_id  4608 non-null   int64
dtypes: float64(3), int64(1), object(6)
memory usage: 396.0+ KB

In [299]:
red_mid_review = pd.read_csv("data/red_mid_review.csv",encoding="utf-8",index_col=[0])

In [300]:
red_mid_review.rename({'id':'wine_id'},axis=1,inplace=True)

In [301]:
red_mid_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4651 entries, 0 to 4650
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   wine_id  4651 non-null   int64
 1   re       4651 non-null   object
dtypes: int64(1), object(1)
memory usage: 109.0+ KB

In [304]:
red_mid = pd.merge(red_mid_info,red_mid_review,on='wine_id')

In [305]:
red_mid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4605 entries, 0 to 4604
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4605 non-null   object
 1   price    4605 non-null   float64
 2   score    4605 non-null   float64
 3   winery   4605 non-null   object
 4   grapes   4597 non-null   object
 5   country  4605 non-null   object
 6   region   4605 non-null   object
 7   alcohol  2772 non-null   float64
 8   foods    4597 non-null   object
 9   wine_id  4605 non-null   int64
 10  re       4605 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 431.7+ KB

In [306]:
red_mid['wine_id'].value_counts()

20441089    1
2200880     1
21512904    1
21034065    1
14386034    1
           ..
23179927    1
17164952    1
26190489    1
24184558    1
16140287    1
Name: wine_id, Length: 4605, dtype: int64

# red_head 합치기

In [310]:
red_head_info = pd.read_csv("data/red_head_wine_info.csv",encoding="utf-8",index_col=[0])

In [311]:
red_head_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5080 entries, 0 to 5079
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5080 non-null   object
 1   price    5080 non-null   float64
 2   score    5080 non-null   float64
 3   winery   5080 non-null   object
 4   grapes   5063 non-null   object
 5   country  5077 non-null   object
 6   region   5077 non-null   object
 7   alcohol  3156 non-null   float64
 8   foods    5035 non-null   object
 9   wine_id  5080 non-null   int64
dtypes: float64(3), int64(1), object(6)
memory usage: 436.6+ KB

In [312]:
red_head_review = pd.read_csv("data/red_head_review.csv",encoding="utf-8",index_col=[0])

In [313]:
red_head_review.rename({'id':'wine_id'},axis=1,inplace=True)

In [314]:
red_head_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5221 entries, 0 to 5220
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   wine_id  5221 non-null   int64
 1   re       5221 non-null   object
dtypes: int64(1), object(1)
memory usage: 122.4+ KB

In [315]:
red_head = pd.merge(red_head_info ,red_head_review,on='wine_id')

In [316]:
red_head['wine_id'].value_counts()

23060480    1
23086382    1
18371900    1
23837249    1
24225082    1
           ..
26536600    1
25629335    1
24361622    1
19621118    1
20621311    1
Name: wine_id, Length: 5079, dtype: int64

In [317]:
red_head.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5079 entries, 0 to 5078
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5079 non-null   object
 1   price    5079 non-null   float64
 2   score    5079 non-null   float64
 3   winery   5079 non-null   object
 4   grapes   5062 non-null   object
 5   country  5076 non-null   object
 6   region   5076 non-null   object
 7   alcohol  3155 non-null   float64
 8   foods    5034 non-null   object
 9   wine_id  5079 non-null   int64
 10  re       5079 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 476.2+ KB

In [318]:
#red_head[red_head['wine_id']==23443777 ]

In [327]:
pd.merge(red_mid,red_head)

,name,price,score,winery,grapes,country,region,alcohol,foods,wine_id,re
0,Bearwallow Vineyard Pinot Noir 2017,60.0,4.2,Rivers-Marie,Pinot Noir,United States,Anderson Valley,14.2,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",18614396,['Classic AV notes. Big body for a PN. Cherry ...
1,Bordeaux 2016,60.0,4.3,Ormiale,Cabernet Sauvignon,France,Bordeaux Supérieur,NaN,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",25147631,['Lovely for an evening with friends. Black fr...
2,Vosne-Romanée 2018,60.0,4.2,Hudelot-Noëllat,Pinot Noir,France,Vosne-Romanée,13.0,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",21510594,"[""The flavors of this wine change dramatically..."
3,Santa Lucia Highlands Pinot Noir 2011,60.0,4.3,Kosta Browne,Pinot Noir,United States,Santa Lucia Highlands,14.5,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",726661,['I recently went to a Private Equity Wine Tas...
4,Gevrey-Chambertin 2018,60.0,4.2,Domaine Duroché,Pinot Noir,France,Gevrey-Chambertin,13.0,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",24228572,['Lots of red-berries with almost no oak. I lo...
...,...,...,...,...,...,...,...,...,...,...,...
63,Cabernet Sauvignon 2016,60.0,4.3,Obelisco Estate,Cabernet Sauvignon,United States,Red Mountain,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",21491637,['4.2 - Such a smooth cab. Considering joining...
64,Scherrer Vineyard Cabernet Sauvignon 2007,60.0,4.4,Scherrer,Cabernet Sauvignon,United States,Alexander Valley,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",4132851,"['Full flavored cab with fruit but subtle, not..."
65,Barbera d'Alba 2017,60.0,4.2,Bartolo Mascarello,Barbera,Italy,Barbera d'Alba,15.0,"['Pasta', 'Veal', 'Pork', 'Game (deer, venison...",20219768,"['cherry, raspberry, blackberry then oak, vani..."
66,Les Baux-de-Provence Rouge 2014,60.0,4.2,Hauvette,Shiraz/Syrah,France,Les Baux-de-Provence,NaN,"['Beef', 'Lamb', 'Spicy food', 'Mature and har...",22819998,['Still a great beauty. South of France and st...
67,Cabernet Sauvignon 2014,60.0,4.2,Obelisco Estate,Cabernet Sauvignon,United States,Red Mountain,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",14919761,"['Cigar box, oak, plum, wet leaves, hint of s..."

# 전체 합치기

In [319]:
wine_all = pd.concat([red_head,red_mid,red_tail,white])

In [320]:
wine_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23783 entries, 0 to 5765
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     23783 non-null  object
 1   price    23715 non-null  float64
 2   score    23783 non-null  float64
 3   winery   23783 non-null  object
 4   grapes   17983 non-null  object
 5   country  23776 non-null  object
 6   region   23776 non-null  object
 7   alcohol  14524 non-null  float64
 8   foods    23502 non-null  object
 9   wine_id  23783 non-null  int64
 10  re       23783 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 2.2+ MB

In [329]:
wine_all.to_csv("wine_all.csv",index=False)

In [328]:
wine_all['wine_id'].value_counts()[:200]

21215468    2
25865863    2
24541364    2
25199482    2
3267125     2
           ..
24156022    1
25394138    1
1306055     1
21331397    1
11312569    1
Name: wine_id, Length: 200, dtype: int64

In [330]:
wine_all[wine_all['wine_id']==21215468 ]

,name,price,score,winery,grapes,country,region,alcohol,foods,wine_id,re
2966,Pinot Noir 2018,24.99,4.2,Gainey,Pinot Noir,United States,Sta. Rita Hills,NaN,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",21215468,['Super smooth well balanced with more body th...
1782,Pinot Noir 2018,24.99,4.2,Gainey,Pinot Noir,United States,Sta. Rita Hills,NaN,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",21215468,['Super smooth well balanced with more body th...